* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Hanken";
  src: url("/assets/fonts/HankenGrotesk-VariableFont_wght.ttf");
}

body {
  font-size: 16px;
  line-height: 1.5;
  background: #f5f5f5;
  font-family: Hanken;
  max-width: 65ch;
  margin: auto;
  padding: 0rem 1.5rem 2rem;
}


img {
  aspect-ratio: 16/10;
  object-fit: cover;
  border-radius: 10px;
}

.links {
  margin-top: 3rem;
  display: flex;
  padding-inline: 1rem;
  justify-content: flex-end;
}